.home{
    width: 100%;
    min-height: 100vh;
    height: auto;
    overflow: hidden;
    background-color: rgb(29, 25, 46);
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media only screen and (max-width: 750px) {
        grid-template-columns: 1fr;
        padding-top: 100px;
    }

    .img-cover{
        height: auto;
        padding: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;

        img{
            max-width: 100%;
            width: auto;

            @media only screen and (max-width: 750px) {
                text-align: center;
            }
        }
    }

    .content{
        height: auto;
        padding: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        @media only screen and (max-width: 750px) {
            text-align: center;
        }

        & > *{
            width: 100%;
        }

        h1{
            text-transform: uppercase;
            font-size: 3rem;
            margin-bottom: 5px;
            font-weight: bolder;

            @media only screen and (max-width: 500px) {
                font-size: 30px;
            }
        }

        .line{
            display: block;
            width: 100%;
            height: 1px;
            background-color: white;
            margin-bottom: 25px;
        }

        ul{
            margin-bottom: 25px;

            @media only screen and (max-width: 750px) {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }

            li{
                margin-bottom: 8px;
                font-size: 16px;
                display: flex;
                align-items: center;

                &:last-of-type{
                    margin-bottom: 0;
                }

                i{
                    margin-right: 8px;
                    font-size: 8px;
                }
            }
        }

        .routes{
            display: flex;
            flex-direction: row;

            a{
                flex: 1;
                border: 1px solid white;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 15px;
                text-decoration: none;
                color: white;
                letter-spacing: 3px;
                font-size: 16px;
                font-weight: bolder;
                transition: .2s cubic-bezier(0.68, -0.55, 0.265, 1.55);

                &:first-of-type{
                    border-right: none;
                }

                &:hover{
                    background-color: white;
                    color: rgb(29, 25, 46);
                }

            }
        }
    }

}